/* ------------------------------------
   #BASE
   ------------------------------------*/
 
/**
 * 
 *
 *
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }


html {
    box-sizing: border-box;
}


 * {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}


::-moz-selection { background: lighten($black, 10%); color: $white; text-shadow: none; }
::selection { background: lighten($black, 10%); color: $white; text-shadow: none; }

html {
    color: #121259;
    font: $font-size-base;
    font-family: $font-family-base;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;

    @include media-query(lap-and-up) { 
        font-size: $font-size-40; 
    }
}

body {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
    font-weight: 600;
    line-height: 1.5;
    
    &.soft {
        font-weight: 300;
        color: lighten($black, 50%);
    }
}

h1 { 
    font-size: 2.25rem;  
}


h2 { 
    font-size: 2rem;
}

h3 { font-size: 1.2rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 1.05rem; }
h6 { font-size: 1rem; }

p {
    margin-bottom: $spacing;
    &.lead {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}


a {
    color: $link--color;
    
    &:hover { color: $link--color-hover; }
}

small { font-size: 0.85rem; color: lighten($black, 50%); }

em { font-style: italic; }

strong { font-weight: bold; }

code, pre { font-family: 'courier new', monospace; }

abbr { border-bottom: 1px dotted lighten($black, 50%); }

del { text-decoration: line-through; }

mark { background-color: lighten(yellow, 35%); }

hr {
    background-color: transparent;
    border: solid lighten($black, 80%);
    border-width: 1px 0 0;
    clear: both;
    margin: 2em $spacing;
}

ul, ol { margin: 0 0 $spacing 1.5em; }
ul { list-style: disc; }
ol { list-style: decimal; }

dl {
    margin-bottom: $spacing;
    dt { font-weight: bold; }
    dd { margin-left: $spacing; }
}

img {
    max-width: 100%;
}